table {

  background-color: #1ab5b5;

    border-collapse: collapse;
    
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: rgb(121, 196, 223);
    
  }
